[package]
name = "minidump_stackwalk"
version = "8.7.1"
authors = ["Jan Michael Auer <mail@jauer.org>"]
edition = "2018"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.53"
clap = "3.1.0"
minidump = "0.10.3"
minidump-processor = { version = "0.10.3", features = ["symbolic-syms"] }
symbolic = { path = "../../symbolic", features = ["symcache", "demangle", "minidump"] }
thiserror = "1.0.31"
tokio = {version = "1.18.1", features = ["macros", "rt"] }
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
walkdir = "2.3.1"
