[package]
name = "minidump_stackwalk"
version = "12.3.3"
authors = ["Jan Michael Auer <mail@jauer.org>"]
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = { workspace = true }
clap = { workspace = true }
minidump = { workspace = true }
minidump-processor = { workspace = true }
minidump-unwind = { workspace = true }
symbolic = { version = "12.3.3", path = "../../symbolic", features = [
    "symcache",
    "demangle",
    "cfi",
] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
walkdir = { workspace = true }
