[submodule "minidump/third_party/breakpad"]
	path = crates/symbolic-minidump/third_party/breakpad
	url = https://github.com/getsentry/breakpad
	shallow = true
[submodule "minidump/third_party/lss"]
	path = crates/symbolic-minidump/third_party/lss
	url = https://github.com/getsentry/linux-syscall-support
