language: rust
cache:
  directories:
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target
    - $TRAVIS_BUILD_DIR/cabi/target

git:
  depth: 1

if: tag IS blank

after_success:
  - npm install -g @zeus-ci/cli
  - test "$DEPLOY" && zeus upload -t "application/zip+wheel" py/dist/*

matrix:
  include:
    # Rust test suite
    - os: linux
      script: make styletest
      env: TEST=style-rust
    - os: linux
      script: make cargotest
      env: TEST=linux-rust
    - os: osx
      script: make cargotest
      env: TEST=mac-rust

    # Python test suite
    - os: linux
      script: make pytest
      env: TEST=linux-python
    - os: osx
      script: make pytest
      env: TEST=mac-python

    # Build wheels
    - os: osx
      script: make wheel
      before_install: HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade node
      env: DEPLOY=mac-wheel
      osx_image: xcode7.3
    - os: linux
      script: make wheel-manylinux IMAGE=quay.io/pypa/manylinux1_x86_64
      env: DEPLOY=linux-x86_64-wheel
      sudo: required
      services:
        - docker
    - os: linux
      script: make wheel-manylinux IMAGE=quay.io/pypa/manylinux1_i686
      env: DEPLOY=linux-x86-wheel
      sudo: required
      services:
        - docker
    - os: linux
      script: make sdist
      env: DEPLOY=sdist

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/3be2453a-c595-11e7-8cdd-0a580a28020a/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
