language: rust
cache:
  directories:
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target
    - $TRAVIS_BUILD_DIR/cabi/target

git:
  depth: 1

if: tag IS blank

after_success:
  - npm install -g @zeus-ci/cli
  - test "$DEPLOY" && ( zeus upload -t "application/zip+wheel" py/dist/* || exit 1 )

matrix:
  include:
    # Rust test suite
    - os: linux
      script: make style-rust
      env: TEST=style-rust
    - os: linux
      script: make lint-rust
      env: TEST=lint-rust CXX=clang
    - os: linux
      script: make test-rust
      env: TEST=linux-rust CXX=clang
    - os: osx
      script: make test-rust
      env: TEST=mac-rust

    # Python test suite
    - os: linux
      language: python
      python: "3.7"
      script:
        - make style-python
        - make lint-python
      env: TEST=style-python
    - os: linux
      script: make test-python
      env: TEST=linux-python CXX=clang
    - os: osx
      script: make test-python
      env: TEST=mac-python

    # Build wheels
    - os: osx
      script: make wheel
      before_install: HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade node
      env: DEPLOY=mac-wheel
      osx_image: xcode7.3
    - os: linux
      script: make wheel-manylinux IMAGE=quay.io/pypa/manylinux1_x86_64
      env: DEPLOY=linux-x86_64-wheel
      sudo: required
      services:
        - docker
    - os: linux
      script: make wheel-manylinux IMAGE=quay.io/pypa/manylinux1_i686
      env: DEPLOY=linux-x86-wheel
      sudo: required
      services:
        - docker
    - os: linux
      script: make sdist
      env: DEPLOY=sdist

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/3be2453a-c595-11e7-8cdd-0a580a28020a/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
