[package]
name = "symbolic"
version = "5.0.1"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
readme = "README.md"
description = """
A library to symbolicate and process stack traces from native applications,
minidumps, minified JavaScripts or ProGuard optimized Android apps.
"""
exclude = [
    ".vscode/**/*",
    "py/**/*",
    "scripts/**/*",
]

[workspace]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["debuginfo"]
debuginfo = ["symbolic-debuginfo"]
demangle = ["symbolic-demangle"]
minidump = ["debuginfo", "symbolic-minidump"]
proguard = ["symbolic-proguard"]
sourcemap = ["symbolic-sourcemap"]
symcache = ["debuginfo", "demangle", "symbolic-symcache"]
with_serde = ["symbolic-common/with_serde"]
with_serde_debuginfo = ["symbolic-debuginfo/with_serde"]
with_serde_minidump = ["symbolic-minidump/with_serde"]

[dependencies]
symbolic-common = { version = "5.0.1", path = "common" }
symbolic-debuginfo = { version = "5.0.1", path = "debuginfo", optional = true }
symbolic-demangle = { version = "5.0.1", path = "demangle", optional = true }
symbolic-minidump = { version = "5.0.1", path = "minidump", optional = true }
symbolic-proguard = { version = "5.0.1", path = "proguard", optional = true }
symbolic-sourcemap = { version = "5.0.1", path = "sourcemap", optional = true }
symbolic-symcache = { version = "5.0.1", path = "symcache", optional = true }

[dev-dependencies]
clap = "2.31.2"
failure = "0.1.1"
walkdir = "2.1.4"

[[example]]
name = "minidump_stackwalk"
required-features = ["minidump", "symcache"]

[[example]]
name = "symcache_debug"
required-features = ["symcache"]
