[package]
name = "symbolic"
version = "0.9.4"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]

[workspace]

[dependencies]
symbolic-common = { path = "common" }
symbolic-demangle = { path = "demangle" }
symbolic-minidump = { path = "minidump" }
symbolic-proguard = { path = "proguard" }
symbolic-sourcemap = { path = "sourcemap" }
symbolic-symcache = { path = "symcache" }
symbolic-debuginfo = { path = "debuginfo" }

[replace]
"goblin:0.0.11" = { git = "https://github.com/mitsuhiko/goblin", rev = "b771f298d8b24b79d947ef5c140d169b72b41eb8" }
