[package]
name = "symbolic-minidump"
version = "2.0.5"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-minidump"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
A library to process and inspect Minidump crash reports
"""
build = "build.rs"

[dependencies]
gimli = "0.15"
goblin = "0.0"
lazy_static = "1.0"
regex = "0.2"
symbolic-common = { version = "2.0.5", path = "../common" }
symbolic-debuginfo = { version = "2.0.5", path = "../debuginfo" }

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
