[package]
name = "symbolic-minidump"
version = "5.5.6"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-minidump"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
A library to process and inspect Minidump crash reports
"""
build = "build.rs"

[dependencies]
failure = "0.1.2"
failure_derive = "0.1.2"
gimli = "0.16.1"
lazy_static = "1.1.0"
regex = "1.0.5"
serde = { version = "1.0.79", optional = true }
serde_plain = { version = "0.3.0", optional = true }
symbolic-common = { version = "5.5.6", path = "../common" }
symbolic-debuginfo = { version = "5.5.6", path = "../debuginfo" }
uuid = "0.7.1"

[build-dependencies]
cc = { version = "1.0.25", features = ["parallel"] }

[dev-dependencies]
symbolic-testutils = { version = "5.5.6", path = "../testutils" }

[features]
default = []
with_serde = ["serde", "serde_plain"]
