[package]
name = "symbolic-symcache"
version = "1.1.5"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-symcache"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
An optimizied cache file for fast and memory efficient lookup of symbols and
stack frames in debugging information.
"""

[dependencies]
symbolic-common = { version = "1.1.5", path = "../common", features = ["with_dwarf", "with_objects"] }
symbolic-debuginfo = { version = "1.1.5", path = "../debuginfo" }
symbolic-demangle = { version = "1.1.5", path = "../demangle" }
uuid = { version = "^0.5", features = ["serde"] }
gimli = "0.15"
fallible-iterator = "0.1"
lru-cache = "0.1"
owning_ref = "0.3"
fnv = "1.0"
num = "0.1"
matches = "0.1"
if_chain = "0.1"
dmsort = "0.1"

[dev-dependencies]
clap = "2"
