[package]
name = "symbolic-demangle"
version = "5.2.0"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-demangle"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
A library to demangle symbols from various languages and compilers.
"""
build = "build.rs"

[dependencies]
cpp_demangle = "0.2.12"
rustc-demangle = "0.1.9"
symbolic-common = { version = "5.2.0", path = "../common" }

[build-dependencies]
cc = "1.0.25"
