[package]
name = "symbolic-demangle"
version = "1.1.5"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-demangle"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
A library to demangle symbols from various languages and compilers.
"""
build = "build.rs"

[dependencies]
symbolic-common = { version = "1.1.5", path = "../common" }
rustc-demangle = "0.1"

[build-dependencies]
gcc = "0.3"
