[package]
name = "dump_sources"
version = "8.0.2"
authors = ["Jan Michael Auer <mail@jauer.org>"]
edition = "2018"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.0"
symbolic = { path = "../../symbolic" }
