[package]
name = "symbolic-common"
version = "4.0.0"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-common"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
Common types and utilities for symbolic, a library to symbolicate and process
stack traces from native applications, minidumps, minified JavaScripts or
ProGuard optimized Android apps.
"""

[dependencies]
error-chain = "0.11.0"
gimli = { version = "0.15.0", optional = true }
goblin = { version = "0.0.15", optional = true }
memmap = "0.6.2"
owning_ref = "0.3.3"
serde = { version = "1.0.42", optional = true }
serde_plain = { version = "0.3.0", optional = true }
sourcemap = { version = "2.2.0", optional = true }
failure = "0.1.1"
failure_derive = "0.1.1"

[features]
default = []
with_dwarf = ["gimli"]
with_objects = ["goblin"]
with_serde = ["serde", "serde_plain"]
with_sourcemaps = ["sourcemap"]
