[package]
name = "symbolic-common"
version = "5.5.1"
license = "MIT"
authors = [
    "Armin Ronacher <armin.ronacher@active-4.com>",
    "Jan Michael Auer <mail@jauer.org>",
]
documentation = "https://docs.rs/symbolic-common"
homepage = "https://github.com/getsentry/symbolic"
repository = "https://github.com/getsentry/symbolic"
description = """
Common types and utilities for symbolic, a library to symbolicate and process
stack traces from native applications, minidumps, minified JavaScripts or
ProGuard optimized Android apps.
"""

[dependencies]
error-chain = "0.12.0"
gimli = { version = "0.16.1", optional = true }
goblin = { version = "0.0.17", optional = true }
memmap = "0.7.0"
owning_ref = "0.4.0"
serde = { version = "1.0.79", optional = true }
serde_plain = { version = "0.3.0", optional = true }
sourcemap = { version = "2.2.1", optional = true }
failure = "0.1.2"
failure_derive = "0.1.2"
debugid = "0.3.0"

[features]
default = []
with_dwarf = ["gimli"]
with_objects = ["goblin"]
with_serde = ["serde", "serde_plain", "debugid/with_serde"]
with_sourcemaps = ["sourcemap"]
