[package]
name = "addr2line"
version = "12.11.1"
authors = ["Jan Michael Auer <mail@jauer.org>"]
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
symbolic = { version = "12.11.1", path = "../../symbolic", features = ["demangle"] }
