name: Release build

on:
  push:
    branches:
      - "release/**"
      - "manylinux2014"

jobs:
  python-wheel-mac:
    strategy:
      fail-fast: false
      matrix:
        include:
          - macos-version: "10.15"
            target: x86_64-apple-darwin
            py-platform: macosx-10_15_x86_64
          - macos-version: "11.0"
            target: aarch64-apple-darwin
            py-platform: macosx-11_0_arm64

    name: Python macOS ${{ matrix.py-platform }}
    runs-on: macos-${{ matrix.macos-version }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          profile: minimal
          override: true

      - uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - run: make wheel PLATFORM=${{ matrix.py-platform }}
        env:
          # consumed by cargo and setup.py to obtain the target dir
          CARGO_BUILD_TARGET: ${{ matrix.target }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: py/dist/*

  python-wheel-linux:
    strategy:
      fail-fast: false
      matrix:
        build-arch:
          - manylinux2014_i686
          - manylinux2014_x86_64
          - manylinux2014_aarch64

    name: Python Linux ${{ matrix.build-arch }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - if: matrix.build-arch == 'manylinux2014_aarch64'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64

      - name: Build in Docker
        run: make wheel-manylinux IMAGE=quay.io/pypa/${{ matrix.build-arch }}

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: py/dist/*

  sdist:
    name: Python sdist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
        with:
          python-version: 2.7

      - run: make sdist

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: py/dist/*
