name: Nightly CI

on:
  schedule:
    - cron: '11 7 * * 1,4'

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [nightly, beta]
    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          components: rustfmt, clippy

      - name: Run clipppy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --workspace --tests --examples -- -D clippy::all

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features
